//variables de breakpoints
$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1280px;
$bp-desktop-xl: 1536px;
$bp-desktop-xxl: 1920px;

//variables de las fuentes
$oswald: Oswald;
$quatrocento: Quattrocento;

//variables de color
$beig: #EFEFEE;
$black: #303030;
$silver: #909090;
$white: #F6F6F6;